<h2> Hello. USER index page </h2>
<%= link_to "users page", user_path(current_user) %> 
<!-- possibly show list of all users that have an account, sorted by greek class and show mini profile: with fname, lname, nickname, upsilon [class]  -->