
<div class="content_wrapper">

<p>Below is a preview of the questions asked in the scholarship application. It is recommended that you answer these questions in a personal document and then you can copy and paste your answers in the application. This is a precaution in case anything happens while you fill out the application. Note that after the application is submitted, there is not editing.</p>

<br/>
<p>Number of semesters active</p>
<p>List any and all semesters you have been inactive. If you would like, you may include an explanation.</p>
<p>Cumulative GPA</p>
<p>Credits accumulated to date</p>
<p>Major(s)</p>
<p>Minor(s)</p>
<p>If applicable, list the semester(s) on which you have been on academic probation.</p>
<p>What are your post-graduation or professional goals?</p>
<p>Position(s) held this semester</p>
<p>Position(s) held previous semester(s)</p>
<p>List all accomplishments for position(s) held.</p>
<p>List sister events you attended in previous and current semesters</p>
<p>If applicable, describe your involvement in the planning of any community service events.</p>
<p>What is your proudest achievement as a sister of Kappa Phi Lambda?</p>
<p>What is one thing you hope to improve about the sorority on the chapter and/or national level?</p>
<p>List community service events attended for previous and current semesters.</p>
<p>If applicable, describe your involvement in the planning of any community service events.</p>
<p>List your membership and, if applicable, leadership positions in other organizations.</p>
<p>List workshops attended previous and current semester (hosted by KPL and/or other organizations.</p>
<p>If applicable, describe your involvement in the planning of any workshops.</p>
<p>Cover Letter: In business letter format, explain why you should receive the scholarship.</p>



</div>