<div class="content_wrapper">


<% if @voting_closed %>
  <p class="apply_notice"> Voting has closed. </p>
<% else %>

     

	<div class="review_app_wrapper">

		<div id="review_nav_wrapper">
				<% if @vote_deadline == nil %>
					<header id="review_app_header">
						No applicants yet
						</header>
				<% else %>
					<header id="review_app_header">
						applicants
					</header>
				<% end %>
			<ul>
			<% @all_apps.each_with_index do |a, x| %>
				<li>
				<%= content_tag_for :div, a, :link do %> <%= "#{x + 1}" %> <% end %>
				</li>
			<% end %>
			</ul>
		</div>
	</div>



			<%= render partial: 'apps_for_review', collection: @all_apps  %>

<% end %>


</div>

<%= render partial: 'footer' %>