$redcolor: #CE0000;
$standardfont: 'Open Sans', Arial, sans-serif;

// --------- RESET CSS ----------------


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: $standardfont;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// ------------ END RESET CSS ----------
// USER HOME PAGE
// HEADER NAV BAR
hilite { color: $redcolor; }

// ------- LANDING PAGE ---------------

#landing_page {
	padding-bottom: 20px;
	background-color: $redcolor;

	a{
		color: white;
		// text-decoration: none;
	}
	a:hover {
		// text-decoration: underline;
		border-bottom: 1px solid white;
	}

	#kpl_wrapper {	
		padding-top: 30px;
		padding-bottom: 10px;
		text-align: center;

		h1 {

			font-family: $standardfont;
			color: white;
		   font-size: 25em;
		   line-height: 300px;
			font-weight: 800;
			@media (max-width: 800px) {
				font-size: 10em;
				line-height: 130px;
			}

		}

		#subline {
			font-family: 'Playfair Display', serif;
			font-size: 5.7em;
			line-height: 90px;
		   font-weight: 700;
			font-style: italic;
			color: #BDBDBD;

			@media (max-width: 800px) {
				font-size: 2.2em;
				line-height: 40px;
			}
		}

		#subline2 {
			font-family: 'Playfair Display', serif;
			font-size: 4.9em;
		   font-weight: 700;
			font-style: italic;
			color: #BDBDBD;

			@media (max-width: 800px) {
				font-size: 1.9em;
				// line-height: 50px;
			}
		}

	}
		#sign_in_form {
			font-family: $standardfont;
			text-align: center;
			padding-top: 10px;
			color: white;
			text-transform: uppercase;
			div {
				display: inline-block;
				margin-right: 10px;
				label {
					margin-right: 5px;
				}
			}

			#remember_me {
				font-size: .8em;
			}		
			#user_email, #user_password{
				width: 150px;
				padding: 5px;
				border: 1px solid black;
			}

			#user_email:focus, #user_password:focus {
				outline:none;
			}

			#submit_button {
				border: 1px solid black;
				background: white;
				padding: 5px;
				color:black;
			}

			#submit_button:hover {
				outline:none;
			}

			#submit_button:active {
				outline:none;
			}

			@media (max-width: 800px){
				padding-top: 5px;
				
				div {
					display: block;
					padding-bottom: 3px;
				}
				.email {
					position: relative;
					left: 21px;
				}

				#remember_me {
					position: relative;
					left: 75px;
				}

				#submit_button {
					position: relative;
					left: 96px;
				}
			}
		}

		#sign_in_links {
			text-align: center;
			color: white;
			font-family: $standardfont;
			text-transform: uppercase;
			font-size: .8em;
			padding-top: 20px;
			padding-bottom: 100px;
			a {
				margin-right: 25px;
				position: relative;
				left: 7px;
			}

		}

	}

// ---------- END LANDING PAGE ------------

// ---------- SIGN UP/ EDIT USER ----------


#edit_user_wrapper{
	width: 900px;
	margin-top: 30px;
	@media (max-width: 630px){
		width: 300px;
	}
}


.signup_edit_form {
	width: 580px;
	margin: 30px auto;
	font-size: .8em;
	// float:left;
	@media (max-width: 630px){
		width: 200px;
	}
	// #left_form_section {
	// 	float:left;
	// }
	// #right_form_section {
	// 	margin-right: 100px;
	// }
	.form_section {
		margin-left: 0;
		// width: 210px;
		// position: relative;
		label {
			color: $redcolor;
		}
		@media (max-width: 630px) {
			// margin-left: 30px;
		}
	}

	// div {
	// 	margin-bottom: 10px;
	// }
	input {
		margin-top: 6px;
	// 	padding: 5px;
	// 	width: 150px;
	// 	border: 1px solid black;
	// 	&:focus {
	// 		border:1px solid $redcolor;
	// 		outline: none;
	// 	}
	}

}

#delete_account{
	clear:both;
	text-align: center;
	position: relative;
	width: 280px;
	height: 50px;
	margin: 0 auto;
	margin-top: 50px;
	line-height: 140%;
	#delete_account_button {
		width: 200px;
		border: 1px solid black;
		background-color: #ccc;
		color: black;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-radius: 2px;

	}
}

.donation_record {
	float:left;
	margin: 0 auto;
	width: 280px;
	height: 100%;
	border: 2px solid $redcolor;
	text-align: center;
	margin-bottom: 50px;
	.table_title {
		padding: 5px;
		color: white;
		text-transform: uppercase;
		background-color: $redcolor;
		border-bottom: 1px solid $redcolor;
	}
	.donation_row{
		width: 100%;
		clear:both;
		div {
			height: 25px;
			border-bottom: 1px dashed #aaa;
			float:left
		}
		.date_column, .amt_column{
			width: 50%;
		}
	}

}

// END SIGN UP/EDIT USER ----------------

#navbar {
	background-color: $redcolor;
	padding-top: 40px;
	height: 102px;
	a { color: white; }
	#desktop-nav{
		li {
			display: inline;
			margin-right: 15px;
		}
		@media (min-width: 601px){
			display: block;
		}
		@media (max-width: 600px){
			display: none;
		}
	}
	#ddmenu {
		@media (min-width: 601px){
			display:none;
		}
		@media(max-width: 600px){
			display: block;
		}
		#menu-icon{
			display: none;
			@media (max-width: 600px){
				width: 40px;
				height: 40px;
				color: white;
				display: block;
				cursor: pointer;
				-moz-user-select:none;
				-webkit-user-select: none;
				margin-left: auto;
				margin-right: 30px;
				position: relative;
				font-size: 40px;
			}
		}
		#mobile-nav {
			display:none;
			text-align: right;
			background-color: transparent;
			padding-right: 35px;
			background-color: $redcolor;
			// a {
			// 	color: black;
			// }
		}
	}
	// @media (max-width: 600px){
	// 	li {display: block;}
	// }
}
#header-date{
	text-align: right;
}

.disabled_link { color: white; font-style: italic; }
#header_crest {
	background: url(/kpl_crest.png) no-repeat center center;
	// background-size: contain;
	background-size: 165px auto;
	background-position: 10px 0;
	height: 280px;
	width: 190px;
	position: absolute;
	top: 0;
	background-color: #ddd;
	border-bottom: 2px solid $redcolor;
	border-left: 2px solid $redcolor;
	border-right: 2px solid $redcolor;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	#crest_title {
		text-transform: uppercase;
		font-size: 18px;
		line-height: 20px;
		position: absolute;
		bottom: 5px;
		text-align: center;

	}
}

#content_wrapper {
	position: relative;
	top: 130px;

	// HOMEPAGE MAIN CONTENT STYLING

	#recent_award_recipient {
		text-align: center;
		text-transform: uppercase;
		#awardee_name {
			color: $redcolor;
		}
	}
	
	#notice {
		// background-color: #eee;
		padding-left: 20px;
		padding-right: 20px;
		.notice_body {
			margin-left: 35px;
			margin-bottom: 40px;
			// border: 1px solid $redcolor;
			padding: 10px;
			@media (max-width: 600px){
				margin-left: 0px;
			}
			.notice_title {
				text-align: center;
				background-color: $redcolor;
				margin-bottom: 7px;
				color: white;
				border-radius: 2px;
			}
			#donation_wrapper {
				text-align: center;
				margin-top: 10px;
				#be_board_member {
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
		}		
	}

}
